<?xml version="1.0" encoding="utf-8"?>
<Configuration packages="tech.raaf.logelastic.log4j.appender,tech.raaf.logelastic.log4j.layout">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level] [%d] [${hostName}] %c{1}: %msg%n"/>
        </Console>
        <Elastic name="elastic" url="http://localhost:9200/${hostName}/_doc">
            <Property name="X-Java-Runtime" value="$${java:runtime}"/>
            <ElasticLayout complete="false" properties="true"/>
        </Elastic>
    </Appenders>

    <!-- Note: all loggers are made async by log4j2.component.properties Log4jContextSelector setting -->
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="console"/>
            <AppenderRef ref="elastic"/>
        </Root>
    </Loggers>
</Configuration>
